{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Bejelentett hibáim</h1>
</div>

{{error-list errors=model}}

<p>
    <button {{action "showModal" "new-error-modal" "errors.list"}} class="btn btn-default">Új hiba felvitele</button>
    {{!--{{link-to "Új hiba felvitele" "errors.new" class="btn btn-default"}}--}}
</p>
{{!--<a href="/errors/new" class="btn btn-default">Új hiba felvitele</a>--}}


{{!--{{#modal-dialog title="My modal #1"}}--}}
{{!--  This is the content of my modal #1--}}
{{!--{{/modal-dialog}}--}}
